<div class="login-theme d-flex flex-row justify-content-center align-items-center">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>Crea a tu usuario</mat-card-title>
        </mat-card-title-group>

        <mat-card-content>
            <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <fieldset class="d-flex flex-column">
                    <mat-form-field class="w-100">
                        <mat-label aria-label="Nombre">Nombre</mat-label>
                        <input matInput name="firstName" type="text" formControlName="firstName">
                        <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label aria-label="Apellido">Apellido</mat-label>
                        <input matInput name="lastName" type="text" formControlName="lastName">
                        <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label aria-label="Email">email</mat-label>
                        <input matInput name="email" type="text" formControlName="email">
                        <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label aria-label="Contraseña">Contraseña</mat-label>
                        <input matInput name="password" type="text" formControlName="password">
                        <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label aria-label="Roles">Roles</mat-label>
                        <mat-select formControlName="role" multiple panelClass="cdkSelect">
                            <mat-option *ngFor="let role of (authManagementService.roles$ | async)" [value]="role">{{role.desc}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button role="button" (click)="onSubmit()" type="submit" mat-raised-button color="primary" class="w-100" [disabled]="registerForm.invalid">Crear</button>
                    <button role="button" mat-raised-button color="accent" class="w-100" routerLink="/login">Iniciar Sesión</button>
                </fieldset>
            </form>
        </mat-card-content>
    </mat-card>
</div>