<div class="login-theme d-flex flex-row justify-content-center align-items-center">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>Crea a tu usuario</mat-card-title>
        </mat-card-title-group>

        <mat-card-content>
            <form class="d-flex flex-column" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput name="firstName" type="text" formControlName="firstName">
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Apellido</mat-label>
                    <input matInput name="lastName" type="text" formControlName="lastName">
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Usuario</mat-label>
                    <input matInput name="username" type="text" formControlName="username">
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Contraseña</mat-label>
                    <input matInput name="password" type="text" formControlName="password">
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Roles</mat-label>
                    <mat-select formControlName="roles" multiple >
                        <mat-option *ngFor="let role of (authManagementService.roles$ | async)" [value]="role">{{role.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <button (click)="onSubmit()" type="submit" mat-raised-button color="primary" class="w-100" [disabled]="registerForm.invalid">Crear</button>
                <button mat-raised-button color="accent" class="w-100" routerLink="/login">Iniciar Sesión</button>

            </form>
        </mat-card-content>
    </mat-card>
</div>