@import 'functions';

.login-theme {
  width: 100vw;
  height: 100vh;

  mat-card {
    width: em(390);

    form * {
          margin: 0.75em 0;
    }

    a {
        text-align: right;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
  }

  .mat-mini-fab {
      position: fixed;
      top: 2em;
      right: 2em;
  }
}

