<div class="login-theme d-flex flex-row justify-content-center align-items-center">
    <mat-card>

        <mat-card-title-group>
            <mat-card-title>Ingresa a aulaPlaneta</mat-card-title>
        </mat-card-title-group>

        <mat-card-content>
            <form role="form" class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <fieldset class="d-flex flex-column">
                    <mat-form-field class="w-100">
                        <mat-label>Usuario</mat-label>
                        <input matInput name="username" type="text" formControlName="username" aria-label="Username">
                        <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input matInput name="password" type="password" formControlName="password">
                        <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <button role="button" (click)="onSubmit()" type="submit" mat-raised-button color="primary" class="w-100" [disabled]="loginForm.invalid">Entrar</button>
                </fieldset>
            
                <a class="text-center" href="#">¿Has olvidado tu contraseña?</a>

                <button role="button" mat-raised-button color="accent" class="w-100" routerLink="/login/register">Crear cuenta</button>

                <button role="button" mat-raised-button>
                    <fa-icon [icon]="['fab','microsoft']"></fa-icon>
                    Entrar con Office365
                </button>

                <button role="button" mat-raised-button>
                    <fa-icon [icon]="['fab','google']"></fa-icon>
                    Entrar con Google
                </button>
            </form>
        </mat-card-content>
    </mat-card>

    <button role="button" mat-mini-fab color="primary">
        <mat-icon>school</mat-icon>
    </button>
</div>


