@import '~@angular/material/theming';

@mixin aula-planeta-examples-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  aula-planeta-examples {
    .nav-responsive {
      border-bottom: em(1) solid mat-color($primary);

      mat-select {
        line-height: em(48);
        margin: 0 em(20);
        width: 100%;
      }
    }
  }

  .nav-responsive-overlay {
    .active {
      color: mat-color($accent, default-contrast);
      background-color: mat-color($accent);
    }
  }
}
