@import 'functions';
.main-heading {
    text-transform: uppercase;
    margin: 0 0 em(20) 0;
}

mat-card {
    margin: 0 0 em(20) 0;
    display: flex;
    mat-card-header {
        flex: 1 0 auto;
    }
}

form {
    margin: em(20) 0;
    mat-form-field {
        width: 100%;
    }
    button {
        margin: em(20) em(10) 0 0;
    }
}

.terminos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
        margin: 1em;
        max-width: 600px;
    }
    .mat-checkbox {
        margin: 2em 1em;
    }
}

.acciones {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    button:last-of-type {
        margin-left: 1em;
    }
}

progress {
    margin-bottom: 30px;
}

.fileupload {
    background: rgb(235, 233, 233);
    height: 300px;
    width: 100%;
}

.ddinfo {
    display: block;
    text-align: center;
    padding-top: 130px;
    color: #a0a1a2;
}

.profile {
    width: 305px;
    height: 305px;
    overflow: hidden;
    display: inline-block;
}

.profile img {
    width: 100%;
}

.remove img {
    width: 15px;
    position: relative;
    top: -2px;
}


/* Set the image to fill its parent and make transparent */

.center-cropped img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
}

@media(max-width: 767px) {
    .container {
        width: 280px;
        // margin-top: 20px 0 0 100px;
    }
}