<h3 class="titulo">{{'aula-planeta.perfil.datos.subtitulo' | translate}}</h3>

<form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>

        <div class="row mt-3">
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput [placeholder]="('aula-planeta.examples.simple-state-management.name' | translate) + '*'" formControlName="firstName" />
                    <mat-error *ngIf="form.get('firstName').hasError('minlength')">
                        {{'aula-planeta.examples.simple-state-management.validator.minlength' | translate:{minlength: form.get('firstName').errors.minlength.requiredLength} }}
                    </mat-error>
                    <mat-error *ngIf="form.get('firstName').hasError('required')">
                        {{'aula-planeta.examples.simple-state-management.validator.required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">

                <mat-form-field>
                    <input matInput [placeholder]="('aula-planeta.examples.simple-state-management.surname' | translate) + '*'" formControlName="lastName" />
                    <mat-error *ngIf="form.get('lastName').hasError('minlength')">
                        {{'aula-planeta.examples.simple-state-management.validator.minlength' | translate:{minlength: form.get('lastName').errors.minlength.requiredLength} }}
                    </mat-error>
                    <mat-error *ngIf="form.get('lastName').hasError('required')">
                        {{'aula-planeta.examples.simple-state-management.validator.required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput [placeholder]="('aula-planeta.examples.simple-state-management.email' | translate) + '*'" formControlName="email" />
                    <mat-error *ngIf="form.get('email').hasError('minlength')">
                        {{'aula-planeta.examples.simple-state-management.validator.minlength' | translate:{minlength: form.get('email').errors.minlength.requiredLength} }}
                    </mat-error>
                    <mat-error *ngIf="form.get('email').hasError('required')">
                        {{'aula-planeta.examples.simple-state-management.validator.required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2 p-0" *ngIf="!authManagementService.currentUser.google">
                <div class="fileupload" (dropZone)="onDrop($event)" (click)="fileField.click()">
                    <div class="ddinfo">
                        <p>{{'aula-planeta.perfil.datos.dropzone' | translate}}</p>
                        <input type="file" name="img" #fileField (change)="onDrop($event.target.files[0])" hidden multiple>
                        <button role="button" mat-raised-button color="primary" mat-button>{{'aula-planeta.perfil.datos.select' | translate}}</button>
                    </div>
                </div>
            </div>

            <div class="col-md-2  p-0">
                <div class="profile">
                    <img [src]="form.get('img').value | safe:'url'" alt="">
                </div>
            </div>

        </div>

    </fieldset>

    <div class="terminos">
        <p>{{'aula-planeta.perfil.datos.condiciones1' | translate}}</p>
        <p>{{'aula-planeta.perfil.datos.condiciones1' | translate}}</p>

        <mat-checkbox id="terminos" type="checkbox" id="cb" ngControl="cb" formControlName="terminos" required>{{'aula-planeta.perfil.datos.condiciones3' | translate}}</mat-checkbox>
    </div>
    <mat-divider></mat-divider>

    <div class="acciones">
        <button role="button" type="reset" mat-button>{{'aula-planeta.examples.form.reset' | translate}}</button>
        <button role="button" type="submit" mat-raised-button color="primary" [disabled]="!form.valid"> {{'aula-planeta.examples.form.save' | translate}}</button>
    </div>
</form>