@import '../../../../functions';

button {
  padding: 0;
  min-width: em(36);
  margin-left: em(10);

  mat-icon {
    position: relative;
    top: em(2);
    font-size: em(18);
  }
  fa-icon {
    position: relative;
    font-size: em(18);
  }
}
