<h3 class="titulo">{{'aula-planeta.perfil.activacion.subtitulo' | translate}}</h3>

<form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="authManagementService.currentUser$ | async as user">
    <fieldset>

        <div class="row mt-3">
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput [placeholder]="('aula-planeta.perfil.activacion.codigo.activacion' | translate) + '*'" formControlName="codigo" />
                    <mat-error *ngIf="form.get('codigo').hasError('minlength')">
                        {{'aula-planeta.examples.simple-state-management.validator.minlength'| translate:{minlength: form.get('codigo').errors.minlength.requiredLength} }}
                    </mat-error>
                    <mat-error *ngIf="form.get('codigo').hasError('required')">
                        {{'aula-planeta.examples.simple-state-management.validator.required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <p>{{'aula-planeta.perfil.activacion.aclaracion' | translate}}</p>

    </fieldset>

    <mat-divider></mat-divider>

    <h3 class="titulo">{{'aula-planeta.perfil.activacion.licencias' | translate}}</h3>

    <mat-list role="licencias" *ngFor="let lic of user.licencias;">
        <mat-list-item role="listitem">{{lic.name}}</mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <p>{{'aula-planeta.perfil.activacion.centro' | translate}}: {{user.centro}}</p>
    <p>{{'aula-planeta.perfil.activacion.codigo.centro' | translate}}: {{user.codigoCentro}}</p>

    <mat-divider></mat-divider>

    <div class="acciones">
        <button role="button" type="submit" mat-raised-button color="primary" [disabled]="!form.valid"> {{'aula-planeta.perfil.activacion.activar' | translate}}</button>
    </div>
</form>