@import 'styles-variables';
@import 'functions';

.theme-wrapper {
    height: 100%;
    width: 100%;
}

.toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;
    transition: all .3s ease-in-out;

    .logo-container {
        width: em(160);
        height: em(28);
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: em(35);
        }
    }

    #toolbarUserMenu {
        mat-icon {
            transition: all .3s ease-in-out;

            &.open {
                transform: rotate(180deg);
            }
        }

        .avatar {
            display: inline-block;
            width: em(35);
            height: em(35);
            line-height: em(35);
            text-align: center;
            border-radius: 50%;
            margin-right: em(10);

            &.border {
                border-width: em(2);
                border-style: solid;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
                vertical-align: initial;
            }

            span {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }
        }
    }

    mat-select {
        margin: 0 0 0 em(20);
        width: em(40);
        font-size: em(14);
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
        #toolbarUserMenu {
            padding: 0;
            min-width: em(35);
        }
    }
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .content {
        flex: 1 0 auto;
        margin-top: em(64);

        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            ::ng-deep .mat-sidenav-content {
                margin-left: 0 !important;
            }
        }
    }

    footer {
        flex: 0 0 auto;
        padding: 0 em(15);
        text-align: center;
        position: relative;
        bottom: 0;
        min-height: em(64);
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-property: margin-left;

        &.shorten {
            margin-left: em(200);
        }

        div {
            text-align: left;

            h3 {
                margin-bottom: 0;
            }

            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin-right: em(15);

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: $toolbar-breakpoint) {
    .content {
        margin-top: em(56) !important;
    }
}

mat-sidenav-container {
    min-height: calc(100vh - #{em(128)});
    width: 100%;
    padding-bottom: em(50);

    ::ng-deep .ng-trigger-routeAnimations {
        overflow: hidden;
    }

    mat-sidenav {
        position: fixed;
        height: calc(100vh - #{em(64)});
        top: em(64);
        width: em(200);
    }
}