@import 'styles-variables';
@import 'functions';

.theme-wrapper {
    height: 100%;
    width: 100%;
}

.toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;
    transition: all .3s ease-in-out;

    .logo-container {
        width: em(160);
        height: em(28);
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: em(35);
        }
    }

    #toolbarUserMenu {
        mat-icon {
            transition: all .3s ease-in-out;

            &.open {
                transform: rotate(180deg);
            }
        }

        .avatar {
            display: inline-block;
            width: em(35);
            height: em(35);
            line-height: em(35);
            text-align: center;
            border-radius: 50%;
            margin-right: em(10);

            &.border {
                border-width: em(2);
                border-style: solid;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
                vertical-align: initial;
            }

            span {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }
        }
    }

    mat-select {
        margin: 0 0 0 em(20);
        width: em(40);
        font-size: em(14);
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
        #toolbarUserMenu {
            padding: 0;
            min-width: em(35);
        }
    }
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .content {
        flex: 1 0 auto;
        margin-top: em(64);

        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            ::ng-deep .mat-sidenav-content {
                margin-left: 0 !important;
            }
        }
    }

    .footer {
        flex: 0 0 auto;
        padding: 0 em(15);
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;

        .row {
            padding: em(10) 0;

            .links {
                a {
                    transition: padding 0.5s;
                    display: inline-block;
                    padding: em(20) em(5);

                    &:hover {
                        text-decoration: none;
                    }

                    fa-icon {
                        font-size: em(30);
                        width: em(35);
                    }

                    span {
                        display: inline-block;
                        width: em(75);
                        padding: 0 0 0 em(3);
                        overflow: hidden;
                        text-align: left;
                        white-space: nowrap;
                        transition: width 0.5s;
                    }
                }

                @media (min-width: map-get($grid-breakpoints, lg)) {
                    a {
                        padding: em(20) em(10);
                    }
                }

                @media (max-width: map-get($grid-breakpoints, md)) {
                    a {
                        padding: em(20);

                        span {
                            width: 0;
                            padding: 0;
                        }
                    }
                }

                @media (max-width: map-get($grid-breakpoints, sm)) {
                    a {
                        padding: em(20) em(5);
                    }
                }
            }

            @media (min-width: map-get($grid-breakpoints, sm)) {
                .signature {
                    position: relative;

                    a {
                        position: absolute;
                        right: em(15);
                    }
                }
            }
        }
    }
}

@media (max-width: $toolbar-breakpoint) {
    .content {
        margin-top: em(56) !important;
    }
}

mat-sidenav-container {
    min-height: calc(100vh - #{em(213)});
    width: 100%;
    padding-bottom: em(50);

    ::ng-deep .ng-trigger-routeAnimations {
        overflow: hidden;
    }

    mat-sidenav {
        position: fixed;
        height: calc(100vh - #{em(64)});
        top: em(64);
        width: em(200);
    }
}