<div [class]="'theme-wrapper ' + (settingsService.settings$  | async | settings: 'theme')">
    <div class="wrapper">

        <header role="heading" class="toolbar" [style.position]="(settingsService.settings$  | async | settings: 'stickyHeader') ? 'fixed' : 'inherit'" (window.scroll)="eventoScroll($event)" [class.mat-elevation-z3]="isScrolling">

            <mat-toolbar color="primary" class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                    <button role="button" mat-icon-button aria-label="Menú" (click)="toggleSidenav(sidenav)">
                        <mat-icon [hidden]="sideconf.open">menu</mat-icon>
                        <mat-icon [hidden]="!sideconf.open">menu_open</mat-icon>
                    </button>

                    <a routerLink="/" class="d-inline title">aulaPlaneta</a>
                </div>

                <div class="logo-container">
                    <img src="/assets/logo-grupo-planeta.png" alt="Logo Banner" />
                </div>
          
                <div>
                    <button id="toolbarUserMenu"  class="d-flex" role="button" aria-label="Menú de usuario" mat-button [matMenuTriggerFor]="toolbarUserMenu" (menuOpened)="toggleMenu(true)" (menuClosed)="toggleMenu(false)">
                        <div class="avatar" [ngClass]="{'border': !user.img}">
                            <img *ngIf="user.img" [src]="user.img" alt="Profile Avatar" loading="eager"/>
                            <span *ngIf="!user.img">
                                {{user.firstName.charAt(0)}}{{user.lastName.charAt(0)}}
                            </span>
                        </div>
                        <span *ngIf="user" class="d-none d-sm-inline">Hola, {{user.firstName}} {{user.lastName}}</span>
                        <mat-icon [ngClass]="{'open': userMenu, 'close': !userMenu}">keyboard_arrow_down</mat-icon>
                    </button>
                    

                    <mat-menu #toolbarUserMenu="matMenu">
                        <button role="button" mat-menu-item routerLink="settings">
                            <mat-icon>account_box</mat-icon>
                            <span>{{ 'aula-planeta.menu.profile' | translate }}</span>
                        </button>
                        <button role="button" mat-menu-item routerLink="settings">
                            <mat-icon>settings</mat-icon>
                            <span>{{ 'aula-planeta.menu.school-settings' | translate }}</span>
                        </button>
                        <button role="button" mat-menu-item (click)="onLogoutClick()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>{{ 'aula-planeta.menu.logout' | translate }}</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-toolbar>
        </header>

        <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.title">
            <mat-sidenav-container role="main">
                <mat-sidenav #sidenav mode="side" role="navigation">
                    <mat-nav-list class="primaryMenu">
                        <a mat-list-item *ngFor="let item of navigationSideMenu" [routerLink]="[item.link]" routerLinkActive="active">
                            <fa-icon [icon]="item.icon"></fa-icon>
                            {{item.label | translate}}
                        </a>
                        <!-- <div *ngIf="item.submenu">
                            <a mat-list-item *ngFor="let subItem of item.submenu" [routerLink]="[subItem.link]" routerLinkActive="active">
                                - {{subItem.label | translate}}
                            </a>
                        </div> -->
                    </mat-nav-list>

                    <mat-divider></mat-divider>

                    <mat-nav-list class="secondaryMenu">
                        <a mat-list-item *ngFor="let item of secondaryMenu" [routerLink]="[item.link]" routerLinkActive="active">
                            <fa-icon class="d-flex" [icon]="item.icon"></fa-icon>
                            {{item.label | translate}}
                        </a>
                    </mat-nav-list>
                </mat-sidenav>

                <router-outlet #o="outlet"></router-outlet>
            </mat-sidenav-container>

            <footer role="region" class="d-flex justify-content-between" [ngClass]="{'shorten': sidenav.opened, '': !sidenav.opened}">
                <div class="d-flex flex-column justify-content-center">
                    <h3>aulaPlaneta</h3>
                    <small>100450057 - PRODUCTO</small>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <small>© Editorial Planeta, S.A.U. 2021</small>
                    <ul>
                        <li><a href="https://www.aulaplaneta.com/condiciones-de-uso-de-la-web/" target="_blank"><small>{{ 'aula-planeta.footer.conditions' | translate }}</small></a></li>
                        <li><a href="https://www.aulaplaneta.com/politica-de-privacidad/" target="_blank"><small>{{ 'aula-planeta.footer.privacity' | translate }}</small></a></li>
                        <li><a href="https://www.aulaplaneta.com/politica-de-uso-de-cookies/" target="_blank"><small>{{ 'aula-planeta.footer.cookies' | translate }}</small></a></li>
                        <li><a href="https://www.aulaplaneta.com/contacto/" target="_blank"><small>{{ 'aula-planeta.footer.contact' | translate }}</small></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>