@import 'styles-variables';

@mixin aula-planeta-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-toolbar {
    button {
      &.active {
        color: mat-color($accent, default-contrast);
        background-color: mat-color($accent);
      }
    }

    a {
      text-decoration: none;
      color: map-get($link-colors, default);
      
      &:hover {
          text-decoration: underline;
          color: map-get($link-colors, active);
      }
    }

    .avatar {
      border-color: map-get($link-colors, default);
    }

    .link {
      color: mat-color($primary, default-contrast);
    }
  }

  mat-sidenav {

    &.mat-drawer {
      background-color: mat-color($accent);
      border-right: 0;
    }

    .secondaryMenu {
      a {
        font-weight: 400;
      }
    }

    .mat-list-item {
      color: mat-color($primary) !important;
      font-weight: bold;

      &.submenu-item {
        font-weight: 400;
      }

      &:hover {
        background-color: mat-color($warn) !important;
      }

      &.active {
        background-color: mat-color($primary, 800) !important;
        border-right: em(4) solid mat-color($primary);
      }
    }
  }

  mat-divider {
    border-top-color: mat-color($primary) !important;
    opacity: .6;
  }

  footer {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($grey-colors, dark);

    a {
      text-decoration: underline;
      color: map-get($link-colors, active);
      transition: all .3s ease-in-out;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .error-notification-overlay {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .info-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .success-notification-overlay {
    color: mat-color($success-colors, default-contrast);
    background-color: mat-color($success-colors);
  }

  .warning-notification-overlay {
    color: mat-color($warning-colors, default-contrast);
    background-color: mat-color($warning-colors);
  }
}
