@import '../../../../../functions';
.entry {
  margin-top: em(40);
  margin-bottom: em(40);
}

.todos-filter-info {
  float: right;
  font-weight: normal;
}

.dotos-title {
  display: flex;
  > span {
    flex: 1;
  }
}

.todos-filter {
  float: right;
  position: relative;
  left: em(10);
  top: em(-5);
  margin-left: em(-10);
}

.todo {
  display: flex;
  margin-bottom: em(10);

  .todo-done {
    margin: 0 em(20) 0 0;
  }

  .todo-label {
    position: relative;
    top: em(2);
    cursor: pointer;

    &.todo-label-done {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}
