@import 'functions';

.big-input {
  width: 100%;
  transition: all 0.5s;
  display: flex;
  padding: em(10) em(10) em(10) em(20);

  input {
    flex-grow: 1;
    border: 0;
    font-size: em(20);
    min-width: em(100);
  }
}
