@import 'functions';

.main-heading {
  text-transform: uppercase;
  margin: 0 0 em(20) 0;
}

mat-card {
  margin: 0 0 em(20) 0;
  display: flex;

  mat-card-header {
    flex: 1 0 auto;
  }
}

form {
  margin: em(20) 0;

  mat-form-field {
    width: 100%;
  }

  button {
    margin: em(20) em(10) 0 0;
  }
}
